{% extends "base.html.twig"%}


 {% block body %}
 
 
 
 <p> Lorem ipsum </p>


<div class="theTexty">
{% for val in data %}
<p> {{val.text}} </p>
<button id="btnid{{val.id}}"> {{val.id}} </button>
<button id="btnid2{{val.id}}"> delete </button>
{% endfor %}

    <script> 
    
    
for (let index = 1; index < 6; index++) {
    let btns = document.getElementById(`btnid${index}`)

    let store = btns.innerText;
    console.log(store)

    btns.addEventListener('click', ()=>{

        console.log(index)

    const nr = store
    const xhrs = new XMLHttpRequest();
    xhrs.open("POST","{{ path('index') }}");
    xhrs.setRequestHeader("Content-Type","application/int");
    xhrs.send(nr);

    })   
}
    


for (let index = 1; index < 6; index++) {
    let btns = document.getElementById(`btnid2${index}`)

    btns.addEventListener('click', ()=>{

        console.log(index)

    const nr = index
    const xhrs = new XMLHttpRequest();
    xhrs.open("POST","{{ path('dele') }}");
    xhrs.setRequestHeader("Content-Type","application/int");
    xhrs.send(nr);

    })   
}
    </script>


 </div>


    

 
 
 
 
 {% endblock %}